*{
    margin: 0;
    /* font-family: 'Press Start 2P', cursive; */
    font-family: 'PT Mono', monospace;
}
#splashscreen {
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    width:100%;
    background-color:rgb(255, 255, 255);
}

#splashscreen .welcome{
    position: absolute;
    color: chartreuse;
    font-size: 31px;
    top: 23%;
    right: 22%;
    text-align: center;
}

#enterBtn{
    position: absolute;
    /* color: chartreuse; */
    font-size: 69px;
    /* text-align: center; */
    right: 44%;
    top: 57%;
    background-color: green;
}

body{
    background-image: url(../img/entertheme.jpg);
    /* background-position: center; */
    background-repeat: no-repeat;
    background-size: cover;
}
header{
    /* background-color: rgb(9, 169, 209); */
    height: 10vh;
    width: 80%;
    text-align: center;
    color: orange;
    margin: 0 auto;
}
header h1{
    margin-top: 30px;
    padding-top: 20px;
}

.section{
    margin: 30px auto;
    border: solid #fff;
    height: 7vh;
    width: 80%;
    color: white;
}
#btn-Start{
    font-size: 20px;
    margin-top: 16px;
}
#time-left{
    padding-left: 42%;
    font-size: 42px;
    color: white;
}
#btn-Done{
    float: right;
    font-size: 20px;
    margin-top: 16px;
}

main{
    margin: 30px auto;
    min-height:60vh;
    width: 80%;
    background-color:rgb(28, 184, 196);
}
main header{
    height: 5vh;
    width: 100%;
    text-align: center;
    background-color:blue;
    color:orange;
}
main ol{
    line-height: 41px;
    font-size: 26px;
    /* color: white; */
    padding-left: 33%;
    /* text-align: center; */
}

.score-Section{
    margin: 30px auto;
    height:6vh;
    width: 80%;
    /* background-color:white; */
    text-align: center;
    word-spacing: 10px;
    font-size: 26px;
    color: white;
  
}
.score-Section span{
    padding: 0px 48px;
}
